html {
  font-size: 1rem;
}

/*noinspection ALL*/
@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

/*noinspection ALL*/
@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

/*noinspection ALL*/
@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}

section {
    padding: 20px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #393939 !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left:5px;
	font-weight:700;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: 700;
}

@media (max-width:767px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}

}
.tshirt
{
    right: 26%!important;
}
.mainselection
{
    position: relative;
    z-index: 1;
    right: 24%!important;
    margin-top: 1rem!important;
    /*border: black!important;*/
}
.maincaro
{
    margin-top: 1rem!important;
    left: 15%!important;
}
.maincaro2
{
      right: 25%!important;
}
.vertical-menu a
{
    /*margin-right: 30px!important;*/
    text-align: center;
}
.order
{
 /*background: rgba(0, 0, 0, 0.70) !important;*/
}

.btn-primary
{
    background-color: #aa870a !important;
    border-color: #aa870a!important;
}
.card-body btn
.navbar-collapse
{
    margin-right: 70rem!important;
}
body {
  background: #E5D5CA;
}

.text {
  margin: 0 60px;
}

h1 {
  font-size: 32px;
  margin-top: 0;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-style: italic;
  text-align: center;
  background: #FF7D6D;
  color: #fff;
  padding: 4px;
}

p,
span,
.twitter {
  font: normal normal 10px Arial;
  text-align: center;
  color: #998578;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.twitter {
  color: #000000;
  text-decoration: none;
  display: block;
  padding: 14px;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

.twitter:hover {
  color: #FF7D6D;
  text-decoration: none;
}

span {
  font-style: italic;
  display: block;
}

img {
  max-width: 100%;
}
/* Floating Social Media Bar Style Starts Here */

.fl-fl {
  background: #0c0c0c;
    /*text-align: right;*/
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 4px;
  width: 190px;
  position: fixed;
  right: -140px;
  z-index: 1000;
  font: normal normal 10px Arial;
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -ms-transition: all .25s ease;
  -o-transition: all .25s ease;
  transition: all .25s ease;
}

.fa {
  font-size: 20px;
  color: #fff;
  padding: 10px 0;
  width: 40px;
  margin-left: 8px;
}

.fl-fl:hover {
  right: 0;
}

.fl-fl a {
  color: #fff !important;
  text-decoration: none;
  text-align: center;
  line-height: 43px!important;
  vertical-align: top!important;
}

.float-fb {
  top: 160px;
}

.float-tw {
  top: 215px;
}

.float-gp {
  top: 270px;
}

.float-rs {
  top: 325px;
}

.float-ig {
  top: 380px;
}

.float-pn {
  top: 435px;
}
.float-sm
{
    left: 45%!important;
}
/* Floating Social Media Bar Style Ends Here */
