<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom shadow-sm fixed-top">
    <a class="navbar-brand" href="/">Earvin's Ecommerce</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse ml-auto" id="navbarResponsive">

        <ul class="navbar-nav ml-auto">
            <!--{% if session.logged_in %}-->
            <!--<li class="nav-item"><a href="/" class="nav-link"><span class=""></span> Home</a></li>-->
          <!--<div class="collapse navbar-collapse" id="navbarSupportedContent">-->

            <!--<div class=" btn btn-primary">Home</div>-->
            <!--&lt;!&ndash;<li class="nav-item"><a href="/profile?user={{session.uid}}" class="nav-link"><span class=""></span>{{session.s_name}}</a>&ndash;&gt;-->

            <!--<div class="dropdown show">-->
                <!--<a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"-->
                   <!--data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
                    <!--{{session.s_name}}-->
                <!--</a>&lt;!&ndash;<button class="dropbtn">Hello, <br>{{firstName}}</button>&ndash;&gt;-->
                <!--<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">-->
                    <!--<a class="dropdown-item" href="/profile?user={{session.uid}}" class="dropdown-item"> Your Order List</a>-->
                    <!--<a class="dropdown-item" href="/settings?user={{session.uid}}" class="dropdown-item">Settings</a>-->
                    <!--<hr>-->
                    <!--<a class="dropdown-item" href="/logout">Sign Out</a>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="dropdown-menu">-->
                <!--<a href="/profile?user={{session.uid}}" class="dropdown-item"> Your Order List</a>-->
                <!--<a href="/settings?user={{session.uid}}" class="dropdown-item">Settings</a>-->
                <!--<hr>-->
                <!--<a href="/logout">Sign Out</a>-->
            <!--</div>-->

            <!--<h1 class="my-4">{{session.s_name}}</h1>-->

            <!--</li>-->
            <!--<style>-->
                <!--a{-->
                    <!--color: white;-->
                <!--}-->
                <!--a:hover-->
                <!--{-->
                    <!--color: #afafaf;-->
                <!--}-->
            <!--</style>-->
            <!--<div class=" btn btn-primary"><a href="/out">Logout</a></div>-->
          <!--</div>-->
            <!--{% else %}-->
            <!--<li class="nav-item"><a href="/" class="nav-link"><span class=""></span> Home</a></li>-->
            <!--<li class="nav-item"><a href="/register" class="nav-link"><span class=""></span> Signup</a></li>-->
            <!--<li class="nav-item"><a href="/login" class="nav-link"><span class=""></span> Login</a></li>-->
            <!--{% endif %}-->
        </ul>
        <div class="input-group p-0 justify-content-left ml-auto ">
            <form action="/search" method="get" class="w-50 m-0" style="padding-left: 20%;right: 120% ">
                <div class="input-group-append rounded-left search_color">
                    <input type="text" class="form-control rounded-left form-control-sm" autocomplete="off"
                           style="float: right; border-radius: 0;" name="q" placeholder="What you want...">
                    <button class="btn btn-primary btn-sm rounded-right"
                            style="border-radius: 0; background-color: #aa870a; border-color: #aa870a " type="submit">
                        Search
                    </button>
                </div>
            </form>
        </div>
         {% if session.logged_in %}
          <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!--<div class=" btn btn-primary">Home</div>-->
            <!--<li class="nav-item"><a href="/profile?user={{session.uid}}" class="nav-link"><span class=""></span>{{session.s_name}}</a>-->

            <div class="dropdown show">
                <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Welcome {{session.s_name}}
                </a><!--<button class="dropbtn">Hello, <br>{{firstName}}</button>-->
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="/profile?user={{session.uid}}" class="dropdown-item"> Your Order List</a>
                    <a class="dropdown-item" href="/settings?user={{session.uid}}" class="dropdown-item">Settings</a>
                    <hr>
                    <a class="dropdown-item" href="/out">Sign Out</a>
                </div>
            </div>

            </li>
            <style>
                .dropdown-item a{
                    color: white;
                }
                .dropdown-item:hover
                {
                    color: #aa870a;
                }
                .nav-item a
                {
                    color: #aa870a;
                }
                .btn-primary
                {
                    border-color: #aa870a;
                }
            </style>
            <!--<div class=" btn btn-primary"><a href="/out">Logout</a></div>-->
          </div>
         {% else %}
            <!--<li class="nav-item"><a href="/" class="nav-link"><span class=""></span> Home</a></li>-->
            <h5 class="nav-item"><a href="/register" class="nav-link"><span class=""></span> Signup</a></h5>
            <h5 class="nav-item"><a href="/login" class="nav-link"><span class="" style="color: #aa870a"></span> Login</a></h5>
            {% endif %}
    </div>

</nav>